.container {
   margin-top: 20px;
   width: 100%;
   height: 100vh;
}

ul li {
   font-size: larger;
   margin-top: 10px;
   /* gap: 10px; */
}

ul li input {
   margin-right: 10px;
}

ul li input[type="checkbox"] {
   margin-right: 10px;
}

ul li.completed {
   text-decoration: line-through;
 }

.content-input {
   padding: 10px;
   /* margin-right: 10px; */
   border: 1px solid #38444d;
   border-radius: 12px;
   color: #ddd;
}

.content-input:focus {
   border-color: #4caf50;
   outline: none;
}

.content-btn {
   padding: 10px 20px;
   border: 1px solid #38444d;
   border-radius: 12px;
   margin-left: 10px;
}

.content-btn:hover {
   cursor: pointer;
   background-color: #4caf50;
}